$bgcolor: rgb(148, 221, 255);
$content-width: 1280px;

* {
  margin:0;
  padding:0;
}

body {
  background-color: $bgcolor;
  width: 100vw;
  margin: 0 auto;
  justify-content: center;
  display: grid;
}

.content-wrapper {
  width: 1280px;
  background-color:lightgreen;
  margin: 60px 40px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 60px 728px 588px 877px 611px 464px 350px;   
  
}

header {
  display: grid;
  grid-template-columns: 184px  443px;
  background-color: yellow;
  justify-content: space-between;
  align-items: center;
  .logo-wrapper {
    background-color: brown;
    .logo {
      height: 35px;
      font-family: "Georgia";
      font-style: normal;
      font-weight: normal;
      font-size: 32px;
      line-height: 110%;
      align-items: center;
      letter-spacing: 0.05em;
      color: #f1cdb3;
    }
    .logo-text {
      height: 15px;
      margin-top: 10px;
      font-family: "Arial";
      font-style: normal;
      font-weight: normal;
      font-size: 13px;
      line-height: 15px;
      align-items: center;
      letter-spacing: 0.1em;
      color: #ffffff;
    }
  }
}

.nav-menu {
  display: grid;
  background-color:lightpink;
  grid-template-columns: 114px 58px 106px 60px;
  grid-template-rows: 1fr;
  justify-content: space-between;
  list-style: none;
      a {
        text-decoration: none;
        font-family: Arial;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 160%;
        color: #FAFAFA;
      }
}

main {
  background-image: url(./images/start-screen-background.jpg);
  background-size: cover;
  
}

.about {
    background-color:cadetblue;
    
}
.pets {
    background-color:coral;

}
.help {
    background-color:gray;
}
.donation {
    background-color:hotpink;
}
 footer {
     background-color:khaki;
 }